body{
  background: linear-gradient(to bottom, #6666ff 0%, #666699 100%);
  height: 100vh;
  margin: 0;
  padding: 0;
}

p {
  color: lightskyblue;
  font-size: 25px;
  text-align: center;
}

iframe {
  display:block;
  margin: 0 auto;
  padding: 0;
}

h1 {
  color: bisque;
  font-size: 50px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  color: bisque;
  font-size: 30px;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
}

#avatar {
  text-align: center;
}

.about-me,
.header {
  color: bisque;
  font-family: 'Mountains of Christmas', cursive;
  margin-top: -10 px;
  padding: 0;
}

.fav-things {
  color: bisque;
  text-align: center;
}

img {
  border-radius: 50%;
}
.zoom {
  padding: 50px;
  transition: transform .2s;
  /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

a {
  color: bisque;
  text-decoration: none;
}

ul {
  list-style: none;
}