body {
	background:navy;
}
h1 {
	color:white;
	text-align: center;
}
h2 {
	color:white;
	text-align: center;
}
img{
	height:400px;
	width:650px;
	
	
}
.mamm {
	height:100px;
	width:100px;
}
.mamm {
	height:100px;
	width:100px;
}
.catty{
	text-align: center;
}